 .icon-home:before {
    content: "\e900";
  }
 .icon-images:before {
    content: "\e90e";
  }
 .icon-about:before {
    content: "\e923";
  }
  .icon-posts:before {
    content: "\e92e";
  }
  .icon-staff:before {
    content: "\e972";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-github:before {
    content: "\eab0";
  }
  .icon-soundcloud:before {
    content: "\eac3";
  }
  .icon-pinterest:before {
    content: "\ead1";
  }
  .current1:before {
    color: green;
    content: "\e900";
  }
  .current2:before {
    color: green;
    content: "\e90e";
  }
  .current3:before {
    color: green;
    content: "\e923";
  }
  .current4:before {
    color: green;
    content: "\e92e";
  }
  .current5:before {
    color: green;
    content: "\e972";
  }