.current{
  color: green
}
body{
  background-color: rgb(236, 236, 91);
}
.grid2p{
  display: grid;
  grid-template-columns: 1fr;
  padding: 2em;
}
.navbar{
  padding: 1em;
  text-align: center;
  background-color: rgba(0, 255, 255, 0.637);
}
.navbar a{
  padding: 1em;
  display: block;
    background-color: cornflowerblue;
}
.size{
  width: 140%
}
@media screen and (min-width: 460px){
.navbar a{
  padding: 1em;
  display: inline;
    background-color: cornflowerblue
}
.size{
  width: 140%}

  @media screen and (min-width: 700px){
  
  .grid2p{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
    }
    .grid1to3{
      display: grid;
      grid-template-columns: 1fr 3fr;
      }
.size{
  width: 140%} 
  @media screen and (min-width: 1000px) {
    .size{
      width: 140%}

    }
  }
}