.current{
  color: green
}
body{
  background-color: rgb(236, 236, 91);
}
.grid2p{
  display: grid;
  grid-template-columns: 1fr;
  padding: 2em;
}

.nav{
  color: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
}

.navbar{
  padding: 1em;
  text-align: center;
  background-color: rgba(0, 255, 255, 0.637);
  position: relative;
}

.navbar a{
  display: block;
  color: black;
  background-color: cornflowerblue;
  position: relative;
}
.size{
  width: 140%
}

@media screen and (max-width: 460px)
{
  .dropdown 
  {
  position: relative;
  display: inline-block;
  }

  .dropdown-content 
  {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }

  .dropdown:hover .dropdown-content 
  {
    display: block;
  }
  
.nav{
  color: rgba(0,0,0,1);
  background-color: cornflowerblue;
  right: 0%;
  position: relative;
  width: 120%;
  text-align: center;
  }
}

@media screen and (min-width: 460px){
.navbar a{
  display: inline;
    background-color: cornflowerblue
}
.navbar{
  text-align: center;
  background-color: rgba(0, 255, 255, 0.637);
}
.size{
  width: 140%}

  @media screen and (min-width: 700px){
  
  .grid2p{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
    }
    .grid1to3{
      display: grid;
      grid-template-columns: 1fr 3fr;
      }
.size{
  width: 140%}
  }
}