a{
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
}

.auglysing{
 animation-name: aug;
 animation-duration: 1s;
 animation-direction: alternate;
 animation-iteration-count: infinite;
 right: 50%;
 overflow: hidden;
 position: relative;
}

.texti1{
    animation-name: hverfa;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    color: rgba(0, 0, 0, 100);
    font-family: Impact;
}

.texti2{
    animation-name: birta;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: rgba(0, 0, 0, 0);
    font-family: Impact;
}

.strik{
    animation-name: hreyfa;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    width: 100px;
    height: 100%;
    position: absolute;
    left: 0%;
}

@keyframes aug{
    0%{background-color: rgba(255, 0, 0, 50)}
    50%{background-color: rgba(0, 255, 0, 50)}
    100%{background-color: rgba(0, 0, 255, 50)}
}

@keyframes hverfa{
    0%{color: rgba(0, 0, 0, 100)}
    100%{color: rgba(0, 0, 0, 0)}
}

@keyframes birta{
    0%{color: rgba(0, 0, 0, 0)}
    100%{color: rgba(0, 0, 0, 100)}
}

@keyframes hreyfa{
    0%{left: 0%;}
    50%{right: 0%;}
    100%{left: 0%;}
}